body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    
    min-height: 100vh;

    margin: 0;
}

/*  */

.sidebar{
    background-color: rgb(14, 197, 247);
    color: white;
   
    grid-column-start: 1;

    grid-row-start: 1;
    grid-row-end: 3;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.top-links{
    /* margin: 20px; */
    font-weight: bold;
}

.bottom-links{
    font-weight: bold;
}

.sidebar-img{
    padding-top: 6px;
}

li{
    display: flex;
    padding: 8px;
    flex-direction: row;
}

img, li{
    max-width: 37px;
    max-height: 37px;
    padding-right: 5px;
}

/*  */

.header {
    display: grid;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-template-columns: 2fr 1fr;

    align-items: center;

    padding: 5px;
}

.search-bar{
    grid-column-end: 2;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search{
    border-radius: 5px;
    border: 3px solid #1fabfcc1;
    min-width: 40vw;
}

.profile {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.welcome-message{
    padding: 5px;
    display: flex;
}

.welcome-bottom{
    font-weight: bold;
    font-size: large;
}

.but{
    border-radius: 15px;
    background-color: rgb(41, 184, 255);
    padding: 10px;
    color: white;
}

.buttons{
    justify-content: space-around;
    display: flex;
}

.iconic{
    padding-right: 10px;
    padding-left: 10px;
}

/*  */

.main-content{
    display: grid;

    grid-template-columns: 3fr 1fr;

    background-color:rgb(195, 205, 205);

    grid-column-start: 2;
    grid-column-end: 3;

}

.projects {
    display: flex;
    flex-wrap: wrap;

    grid-column-end: 2;
}

h4{
    min-width: 40vw;
    height: 1fr;
    padding-left: 10px;
}

.ind-project{
    padding: 15px;
    background-color: white;
    margin: 12px;
    border-radius: 10px;
    min-width: 42%;
    min-height: 39%;
}

.announcements {
    grid-column-start: 2;
}

.ind-announcements{
    background-color: white;
    margin: 12px;
    border-radius: 7px;
    padding: 5px;
}

.title{
    font-weight: bold;
}

.trending{
    grid-column-start: 2;
    background-color: white;
    margin: 12px;
    border-radius: 7px;
    padding: 5px;
}

.trending-cont{
    grid-column-start: 2;
}

.individual{
    display: flex;
    flex-direction: row;
    padding: 5px;
    /* padding-bottom: 5px; */
}

.trending-ind-userat{
    font-weight: bold;
}