body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    
    max-height: 100vh;

    margin: 0;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

.sidebar{
    background-color: rgb(14, 197, 247);
    color: white;
   
    grid-column-start: 1;

    grid-row-start: 1;
    grid-row-end: 3;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.top-links{
    font-weight: bold;
}

.bottom-links{
    font-weight: bold;
}

.sidebar-img{
    padding-top: 6px;
}

li{
    display: flex;
    padding: 8px;
    flex-direction: row;
}

img, li{
    max-width: 37px;
    max-height: 37px;
    padding-right: 5px;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

.header {
    display: grid;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-template-columns: 2fr 1fr;

    align-items: center;

    padding: 5px;
}

.search-bar{
    grid-column-end: 2;
    padding: 10px;
    display: flex;
    align-items: center;
}

.search{
    border-radius: 5px;
    border: 3px solid #1fabfcc1;
    min-width: 40vw;
}

.profile {
    grid-column-start: 2;
    display: flex;
    align-items: center;
    padding-right: 8px;
    justify-content: flex-end;
}

.profile-ind {
    margin-right: 28px;
}

.welcome-message{
    padding: 5px;
    display: flex;
}

.welcome-bottom{
    font-weight: bold;
    font-size: large;
}

.but{
    border-radius: 15px;
    background-color: rgb(41, 184, 255);
    padding: 10px;
    color: white;
    margin-right: 8px;
}

.buttons{
    justify-content: flex-end;
    display: flex;
    padding-right: 8px;
}

.iconic{
    padding-right: 10px;
    padding-left: 10px;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

.main-content{
    display: grid;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 50% 50%;

    background-color:rgb(195, 205, 205);

    grid-column-start: 2;
    grid-column-end: 3;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.ind-project{
    background-color: white;
    border-radius: 10px;

    padding: 10px;
    min-height: 30%;

    flex: 0 0 calc(50% - 40px); /* Two columns. Subtracting 40px since there is 10px padding and margin on each side. */
    margin: 10px; /* Spacing between projects */
}

.project-header{
    flex: 0 0 calc(100% - 10px); /* Full width */
    padding-left: 10px;
}

@media screen and (orientation:portrait) {
    .ind-project{
        flex: 0 0 calc(100% - 40px); /* One column. Subtracting 40px since there is 10px padding and margin on each side. */
    }
}

.proj-name{
    font-weight: bold;
    margin: 8px;
}

.proj-buttons{
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}

.ind-proj-btn{
    margin-right: 3px;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

.announce-trending{
    display: grid;
    grid-template-rows: 50% 50%;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

h5{
    padding-left: 10px;
}

.announcements {
    grid-column-start: 2;
}

.ind-announcements{
    background-color: white;
    margin: 12px;
    border-radius: 7px;
    padding: 5px;
}

.title{
    font-weight: bold;
}

.announce-cont{
    margin-bottom: 8px;
    margin-top: 8px;
}


.trending{
    background-color: white;
    margin: 12px;
    border-radius: 7px;
    padding: 5px;
}

.trending-cont{
    grid-column-start: 2;
    max-height: fit-content; 
}

.individual{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.trending-ind-userat{
    font-weight: bold;
}

/* 
!!! Having problems with trending overflowing.
!!! Right now I'm testing out to see if making announcements and tredning into one is better.
!!! Need more practice towards keeping things in place, not stable placement. Have to take margin and padding into consideration.
!!! Need more clarity if I should you padding or margin.
*/